
header {
	border: 1px solid black;
}

nav > ul > li {
	display: inline;
	list-style: none;
	padding: 1em;
}

.disabled {
	color: gray;
}

a.disabled {
	color: purple;
}

.active {
	color: yellow;
}

.parent div:first-child {
	color: red;
}

.parent div:nth-child(3) {
	color: blue;
}

.parent h4:nth-child(2) {
	background-color: red;
}

.parent h4:last-child {
	background-color: blue;
}

.grandparent > h4 {
	border: 1px solid black;
	border-radius: 10%;
}

.promo, .promo > span {
	font-weight: bold;
	color: gold;
}

input {
	height: 25px; 
}







